In [1]:
import sqlite3
import pandas as pd

In [2]:
# creating file path
dbfile = '/Users/sara/Desktop/Capstone-Cargill/CHEMBL/db/chembl_28/chembl_28_sqlite/chembl_28.db'
# creating a SQL connection to our SQLite 
con = sqlite3.connect(dbfile)

In [3]:
# creating cursor
cur = con.cursor()
# reading all table names
table_list = [a for a in cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'")]
print(table_list)

[('source',), ('confidence_score_lookup',), ('component_sequences',), ('domains',), ('chembl_id_lookup',), ('target_type',), ('bio_component_sequences',), ('version',), ('relationship_type',), ('assay_type',), ('curation_lookup',), ('variant_sequences',), ('bioassay_ontology',), ('data_validity_lookup',), ('activity_stds_lookup',), ('go_classification',), ('hrac_classification',), ('frac_classification',), ('irac_classification',), ('products',), ('patent_use_codes',), ('usan_stems',), ('protein_classification',), ('atc_classification',), ('action_type',), ('research_stem',), ('protein_family_classification',), ('organism_class',), ('structural_alert_sets',), ('activity_smid',), ('assay_classification',), ('target_dictionary',), ('component_domains',), ('cell_dictionary',), ('molecule_dictionary',), ('docs',), ('tissue_dictionary',), ('component_go',), ('product_patents',), ('protein_class_synonyms',), ('research_companies',), ('component_class',), ('defined_daily_dose',), ('component_synonyms',), ('structural_alerts',), ('activity_supp',), ('binding_sites',), ('biotherapeutics',), ('compound_records',), ('compound_properties',), ('assays',), ('molecule_hrac_classification',), ('molecule_frac_classification',), ('molecule_irac_classification',), ('target_relations',), ('molecule_atc_classification',), ('molecule_synonyms',), ('molecule_hierarchy',), ('target_components',), ('compound_structural_alerts',), ('compound_structures',), ('site_components',), ('biotherapeutic_components',), ('activities',), ('metabolism',), ('drug_mechanism',), ('drug_indication',), ('formulations',), ('assay_parameters',), ('assay_class_map',), ('drug_warning',), ('metabolism_refs',), ('predicted_binding_domains',), ('mechanism_refs',), ('indication_refs',), ('ligand_eff',), ('activity_supp_map',), ('activity_properties',), ('warning_refs',), ('sqlite_stat1',)]

In [8]:
df=pd.read_sql_query("SELECT * FROM source", con )

In [5]:
df

,src_id,src_description,src_short_name
0,0,Undefined,UNDEFINED
1,1,Scientific Literature,LITERATURE
2,2,GSK Malaria Screening,GSK_TCMDC
3,3,Novartis Malaria Screening,NOVARTIS
4,4,St Jude Malaria Screening,ST_JUDE
5,5,Sanger Institute Genomics of Drug Sensitivity ...,SANGER
6,6,PDBe Ligands,PDBE
7,7,PubChem BioAssays,PUBCHEM_BIOASSAY
8,8,Clinical Candidates,CANDIDATES
9,9,Orange Book,ORANGE_BOOK
10,10,Guide to Receptors and Channels (DEPRECATED),GRAC
11,11,Open TG-GATEs,TG_GATES
12,12,Manually Added Drugs,DRUGS
13,13,USP Dictionary of USAN and International Drug ...,USP/USAN
14,14,Drugs for Neglected Diseases Initiative (DNDi),DNDI
15,15,DrugMatrix,DRUGMATRIX
16,16,GSK Published Kinase Inhibitor Set,GSK_PKIS
17,17,MMV Malaria Box,MMV_MBOX
18,18,TP-search Transporter Database,TP_TRANSPORTER
19,19,Harvard Malaria Screening,HARVARD
20,20,WHO-TDR Malaria Screening,WHO_TDR
21,21,Deposited Supplementary Bioactivity Data,SUPPLEMENTARY
22,22,GSK Tuberculosis Screening,GSK_TB
23,23,Open Source Malaria Screening,OSM
24,24,Millipore Kinase Screening (DEPRECATED - MERGE...,MILLIPORE
25,25,External Project Compounds,EXT. PROJECT CPDS
26,26,Gene Expression Atlas Compounds,ATLAS
27,27,AstraZeneca Deposited Data,ASTRAZENECA
28,28,FDA Approval Packages,FDA_APPROVAL
29,29,GSK Kinetoplastid Screening,GSK_TCAKS
30,30,K4DD Project,K4DD
31,31,Curated Drug Metabolism Pathways,METABOLISM
32,32,St Jude Leishmania Screening,ST_JUDE_LEISH
33,33,Gates Library compound collection,GATES_LIBRARY
34,34,MMV Pathogen Box,MMV_PBOX
35,35,HeCaToS Compounds,HECATOS
36,36,Withdrawn Drugs,WITHDRAWN
37,37,BindingDB Database,BINDINGDB
38,38,Patent Bioactivity Data,PATENT
39,39,Curated Drug Pharmacokinetic Data,DRUG_PK
40,40,CO-ADD antimicrobial screening data,COADD
41,41,WHO Anatomical Therapeutic Chemical Classifica...,ATC
42,42,British National Formulary,BNF
43,43,Published Kinase Inhibitor Set 2,PKIS2
44,48,Kuster lab chemical proteomics drug profiling,TUM_PROTEOMIC_KUSTER
45,49,HESi,HESI
46,51,Winzeler Lab Plasmodium Screening Data,WINZ_PLASMO
47,52,SARS-CoV-2 Screening Data,SARS_COV_2
48,53,Prodrug active ingredients,PRODRUG_ACTIVE
49,54,Donated Chemical Probes - SGC Frankfurt,DONATED_PROBES

In [15]:
df.to_csv('out.csv', sep=';', index=False)

In [16]:
df_out=pd.read_csv('out.csv', sep=';' )

In [17]:
df_out

,src_id,src_description,src_short_name
0,0,Undefined,UNDEFINED
1,1,Scientific Literature,LITERATURE
2,2,GSK Malaria Screening,GSK_TCMDC
3,3,Novartis Malaria Screening,NOVARTIS
4,4,St Jude Malaria Screening,ST_JUDE
5,5,Sanger Institute Genomics of Drug Sensitivity ...,SANGER
6,6,PDBe Ligands,PDBE
7,7,PubChem BioAssays,PUBCHEM_BIOASSAY
8,8,Clinical Candidates,CANDIDATES
9,9,Orange Book,ORANGE_BOOK
10,10,Guide to Receptors and Channels (DEPRECATED),GRAC
11,11,Open TG-GATEs,TG_GATES
12,12,Manually Added Drugs,DRUGS
13,13,USP Dictionary of USAN and International Drug ...,USP/USAN
14,14,Drugs for Neglected Diseases Initiative (DNDi),DNDI
15,15,DrugMatrix,DRUGMATRIX
16,16,GSK Published Kinase Inhibitor Set,GSK_PKIS
17,17,MMV Malaria Box,MMV_MBOX
18,18,TP-search Transporter Database,TP_TRANSPORTER
19,19,Harvard Malaria Screening,HARVARD
20,20,WHO-TDR Malaria Screening,WHO_TDR
21,21,Deposited Supplementary Bioactivity Data,SUPPLEMENTARY
22,22,GSK Tuberculosis Screening,GSK_TB
23,23,Open Source Malaria Screening,OSM
24,24,Millipore Kinase Screening (DEPRECATED - MERGE...,MILLIPORE
25,25,External Project Compounds,EXT. PROJECT CPDS
26,26,Gene Expression Atlas Compounds,ATLAS
27,27,AstraZeneca Deposited Data,ASTRAZENECA
28,28,FDA Approval Packages,FDA_APPROVAL
29,29,GSK Kinetoplastid Screening,GSK_TCAKS
30,30,K4DD Project,K4DD
31,31,Curated Drug Metabolism Pathways,METABOLISM
32,32,St Jude Leishmania Screening,ST_JUDE_LEISH
33,33,Gates Library compound collection,GATES_LIBRARY
34,34,MMV Pathogen Box,MMV_PBOX
35,35,HeCaToS Compounds,HECATOS
36,36,Withdrawn Drugs,WITHDRAWN
37,37,BindingDB Database,BINDINGDB
38,38,Patent Bioactivity Data,PATENT
39,39,Curated Drug Pharmacokinetic Data,DRUG_PK
40,40,CO-ADD antimicrobial screening data,COADD
41,41,WHO Anatomical Therapeutic Chemical Classifica...,ATC
42,42,British National Formulary,BNF
43,43,Published Kinase Inhibitor Set 2,PKIS2
44,48,Kuster lab chemical proteomics drug profiling,TUM_PROTEOMIC_KUSTER
45,49,HESi,HESI
46,51,Winzeler Lab Plasmodium Screening Data,WINZ_PLASMO
47,52,SARS-CoV-2 Screening Data,SARS_COV_2
48,53,Prodrug active ingredients,PRODRUG_ACTIVE
49,54,Donated Chemical Probes - SGC Frankfurt,DONATED_PROBES

In [6]:
df_organism_class=pd.read_sql_query("SELECT * FROM organism_class", con )

In [7]:
df_organism_class

      oc_id   tax_id          l1              l2                 l3
0         1    10030  Eukaryotes        Mammalia           Rodentia
1         2     9593  Eukaryotes        Mammalia           Primates
2         3      470    Bacteria   Gram-Negative      Acinetobacter
3         4     5475       Fungi      Ascomycota  Saccharomycetales
4         5     5660  Eukaryotes  Kinetoplastida         Leishmania
...     ...      ...         ...             ...                ...
4038   4366   643212     Viruses           ssRNA               None
4039   4367   480019     Viruses           ssRNA               None
4040   4368   936107     Viruses           ssRNA               None
4041   4369  1171155     Viruses           ssRNA               None
4042   4370  1332244     Viruses           ssRNA               None

[4043 rows x 5 columns]

In [8]:
df_target_dictionary=pd.read_sql_query("SELECT * FROM target_dictionary", con )
df_target_dictionary

,tid,target_type,pref_name,tax_id,organism,chembl_id,species_group_flag
0,1,SINGLE PROTEIN,Maltase-glucoamylase,9606.0,Homo sapiens,CHEMBL2074,0
1,2,SINGLE PROTEIN,Sulfonylurea receptor 2,9606.0,Homo sapiens,CHEMBL1971,0
2,3,SINGLE PROTEIN,Phosphodiesterase 5A,9606.0,Homo sapiens,CHEMBL1827,0
3,4,SINGLE PROTEIN,Voltage-gated T-type calcium channel alpha-1H ...,9606.0,Homo sapiens,CHEMBL1859,0
4,5,SINGLE PROTEIN,Nicotinic acetylcholine receptor alpha subunit,6253.0,Ascaris suum,CHEMBL1884,0
...,...,...,...,...,...,...,...
14342,119771,PROTEIN COMPLEX GROUP,Nicotinic Acetylcholine Receptor,9606.0,Homo sapiens,CHEMBL4524133,0
14343,119772,NUCLEIC-ACID,Hydroxyacid oxidase 1 mRNA,9606.0,Homo sapiens,CHEMBL4524134,0
14344,119773,ORGANISM,Naegleria gruberi,5762.0,Naegleria gruberi,CHEMBL4543332,0
14345,119774,CELL-LINE,HepG2-CD81,9606.0,Homo sapiens,CHEMBL4543887,0
14346,119775,CELL-LINE,EMRK1184,10090.0,Mus musculus,CHEMBL4569158,0

In [22]:
df_new=pd.read_sql_query("SELECT t.organism, t.tax_id FROM target_dictionary t WHERE t.organism='Bos taurus'", con )
df_new

       organism  tax_id
0    Bos taurus    9913
1    Bos taurus    9913
2    Bos taurus    9913
3    Bos taurus    9913
4    Bos taurus    9913
..          ...     ...
227  Bos taurus    9913
228  Bos taurus    9913
229  Bos taurus    9913
230  Bos taurus    9913
231  Bos taurus    9913

[232 rows x 2 columns]

In [10]:
df_var_seq=pd.read_sql_query("SELECT * FROM variant_sequences", con )
df_var_seq

,variant_id,mutation,accession,version,isoform,sequence,organism,tax_id
0,-1,UNDEFINED MUTATION,None,NaN,NaN,None,None,NaN
1,100,M197L,Q2HRB6,1.0,NaN,MAQGLYVGGFVDVVSCPKLEQELYLDPDQVTDYLPVTEPLPITIEH...,Human herpesvirus 8,868565.0
2,101,R374A,Q9UM07,2.0,NaN,MAQGTLIRVTPEQPTHAVCVLGTLTQLDICSSAPEDCTSFSINASP...,Homo sapiens,9606.0
3,102,I119A,O15530,1.0,1.0,MARTTSQLYDAVPIQSSVVLCSCPSPSMVRTQTESSTPPGIPGGSR...,Homo sapiens,9606.0
4,103,K27A,Q62967,1.0,NaN,MASEKPQDLMVTCTAPVNIAVIKYWGARDEALILPINPSLSVTLHQ...,Rattus norvegicus,10116.0
...,...,...,...,...,...,...,...,...
2323,2530,H132A,P47900,1.0,1.0,MTEVLWPAVPNGTDAAFLAGPGSSWGNSTVASTAAVSSSFKCALTK...,Homo sapiens,9606.0
2324,2531,H277A,P47900,1.0,1.0,MTEVLWPAVPNGTDAAFLAGPGSSWGNSTVASTAAVSSSFKCALTK...,Homo sapiens,9606.0
2325,2532,K125A,P47900,1.0,1.0,MTEVLWPAVPNGTDAAFLAGPGSSWGNSTVASTAAVSSSFKCALTK...,Homo sapiens,9606.0
2326,2533,K196A,P47900,1.0,1.0,MTEVLWPAVPNGTDAAFLAGPGSSWGNSTVASTAAVSSSFKCALTK...,Homo sapiens,9606.0
2327,2534,K198A,P47900,1.0,1.0,MTEVLWPAVPNGTDAAFLAGPGSSWGNSTVASTAAVSSSFKCALTK...,Homo sapiens,9606.0

In [11]:
df_comp_prop=pd.read_sql_query("SELECT * FROM compound_properties", con )

In [12]:
df_comp_prop

,molregno,mw_freebase,alogp,hba,hbd,psa,rtb,ro3_pass,num_ro5_violations,cx_most_apka,...,molecular_species,full_mwt,aromatic_rings,heavy_atoms,qed_weighted,mw_monoisotopic,full_molformula,hba_lipinski,hbd_lipinski,num_lipinski_ro5_violations
0,1,341.75,2.11,5.0,1.0,84.82,3.0,N,0.0,6.48,...,ACID,341.75,3.0,24.0,0.74,341.0567,C17H12ClN3O3,6.0,1.0,0.0
1,2,332.32,1.33,6.0,1.0,108.61,3.0,N,0.0,6.33,...,ACID,332.32,3.0,25.0,0.73,332.0909,C18H12N4O3,7.0,1.0,0.0
2,3,357.80,2.27,5.0,2.0,87.98,3.0,N,0.0,6.33,...,ACID,357.80,3.0,25.0,0.75,357.0880,C18H16ClN3O3,6.0,2.0,0.0
3,4,307.31,1.46,5.0,1.0,84.82,3.0,N,0.0,6.33,...,ACID,307.31,3.0,23.0,0.74,307.0957,C17H13N3O3,6.0,1.0,0.0
4,5,341.75,2.11,5.0,1.0,84.82,3.0,N,0.0,6.33,...,ACID,341.75,3.0,24.0,0.74,341.0567,C17H12ClN3O3,6.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2069930,2468845,580.64,5.90,6.0,3.0,95.41,8.0,N,2.0,NaN,...,BASE,580.64,4.0,43.0,0.24,580.2286,C34H30F2N4O3,7.0,3.0,2.0
2069931,2468846,378.43,4.52,5.0,2.0,80.68,5.0,N,0.0,8.79,...,NEUTRAL,378.43,3.0,28.0,0.64,378.1580,C22H22N2O4,6.0,2.0,0.0
2069932,2468847,413.55,4.06,3.0,2.0,44.17,6.0,N,0.0,NaN,...,NEUTRAL,413.55,4.0,31.0,0.47,413.2336,C26H29N4O+,5.0,2.0,0.0
2069933,2468848,408.38,2.36,5.0,3.0,106.34,6.0,N,0.0,13.38,...,BASE,408.38,2.0,29.0,0.68,408.1409,C19H19F3N4O3,7.0,4.0,0.0
2069934,2468849,387.87,2.99,7.0,1.0,77.91,4.0,N,0.0,NaN,...,BASE,387.87,3.0,27.0,0.74,387.1462,C19H22ClN5O2,7.0,2.0,0.0

In [ ]:
#df_comp_j=pd.read_sql_query("SELECT * FROM compound_properties cp JOIN molecule_dictionary md where cp.molregno=md.molregno", con )

In [13]:
df_join=pd.read_sql_query("SELECT t.* FROM target_dictionary t  WHERE t.organism='Bos taurus'", con )
#df_new=pd.read_sql_query("SELECT t.organism FROM target_dictionary t WHERE t.organism='Bos taurus'", con )

In [14]:
df_join

,tid,target_type,pref_name,tax_id,organism,chembl_id,species_group_flag
0,10031,SINGLE PROTEIN,Beta-2 adrenergic receptor,9913,Bos taurus,CHEMBL3373,0
1,10081,SINGLE PROTEIN,Alpha-chymotrypsin,9913,Bos taurus,CHEMBL3314,0
2,10174,SINGLE PROTEIN,Vacuolar H(+)-ATPase,9913,Bos taurus,CHEMBL4798,0
3,10403,SINGLE PROTEIN,Thrombin,9913,Bos taurus,CHEMBL4471,0
4,10404,SINGLE PROTEIN,L-lactate dehydrogenase A chain,9913,Bos taurus,CHEMBL2102,0
...,...,...,...,...,...,...,...
227,119145,SINGLE PROTEIN,Diacylglycerol O-acyltransferase 1,9913,Bos taurus,CHEMBL4523395,0
228,119189,SINGLE PROTEIN,Lecithin retinol acyltransferase,9913,Bos taurus,CHEMBL4523439,0
229,119672,SINGLE PROTEIN,DNA topoisomerase I,9913,Bos taurus,CHEMBL4523955,0
230,119731,PROTEIN FAMILY,Phosphodiesterase PDE1,9913,Bos taurus,CHEMBL4524014,0
231,119759,SINGLE PROTEIN,Phosphatidylinositol 3-kinase regulatory subun...,9913,Bos taurus,CHEMBL4524045,0

In [5]:
#closing the connection
con.close()

In [5]:
df_join1=pd.read_sql_query("""SELECT a.*, t.* FROM target_dictionary t INNER JOIN assays 
                            a on a.tid=t.tid WHERE t.organism='Bos taurus'and a.assay_type='A'""", con )

In [6]:
df_join1.head(n=30)

,assay_id,doc_id,description,assay_type,assay_test_type,assay_category,assay_organism,assay_tax_id,assay_strain,assay_tissue,...,tissue_id,variant_id,aidx,tid,target_type,pref_name,tax_id,organism,chembl_id,species_group_flag
0,13794,13841,Association constant of binding of compound wi...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
1,15203,10507,"Evaluated for the kinetic parameter Km, with b...",A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
2,15204,6915,Kinetic Constant (Km) against Adenosine Aminoh...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
3,15205,6915,Kinetic Constant (Km) against Adenosine Aminoh...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
4,17684,9809,Thermal denaturation of calf thymus DNA measur...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
5,18404,12630,Compound was evaluated for permeability index ...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
6,18886,9372,Solubility against bovine alpha-chymotrypsin,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
7,19399,7457,Thermal denaturation (deltaTm) of compound aga...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
8,19727,6915,Kinetic constant (Vmax) against Adenosine Amin...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
9,19728,6915,Kinetic constant (Vmax) against Adenosine Amin...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
10,19733,7815,Kinetic parameter in calf intestine adenosine ...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
11,20107,7572,Michaelis constant for hydrolysis catalyzed by...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
12,20108,7572,Michaelis constant for hydrolysis catalyzed by...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
13,20109,7572,Michaelis constant for hydrolysis catalyzed by...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
14,20110,7572,Michaelis constant for hydrolysis catalyzed by...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
15,20453,10507,Evaluated for the rate of phosphorylation with...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
16,20454,10507,Evaluated for the rate of phosphorylation with...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
17,20455,10507,Evaluated for the rate of phosphorylation with...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
18,20456,10507,Evaluated for the rate of phosphorylation with...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
19,20690,15725,Tested for inhibition of carbonic anhydrase 4 ...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
20,21333,11005,Spectrophotometry for binding to calf thymus D...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
21,22490,10792,Compound was evaluated for the protonation con...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
22,23009,9602,Half-life (t1/2) calculated using chymotrypsin...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
23,23010,9602,Half-life (t1/2) calculated using chymotrypsin...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
24,24453,16763,Kinetic parameter Km value for Bovine spleen N...,A,None,None,Bos taurus,9913,None,Spleen,...,2106.0,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
25,25888,15741,Delta Tm value ( Tmdrug-DNA )-TmDNA ) was obta...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
26,25889,15741,Delta Tm value ( Tmdrug-DNA )-TmDNA ) was obta...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
27,25890,15741,Delta Tm value ( Tmdrug-DNA )-TmDNA ) was obta...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
28,25891,15741,Delta Tm value ( Tmdrug-DNA )-TmDNA ) was obta...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0
29,25892,15741,Delta Tm value ( Tmdrug-DNA )-TmDNA ) was obta...,A,None,None,Bos taurus,9913,None,None,...,NaN,None,CLD0,50591,ORGANISM,Bos taurus,9913,Bos taurus,CHEMBL613489,0

In [8]:
df_newjoin=pd.read_sql_query("""SELECT
cs.*, md.*, cp.*
FROM 
molecule_dictionary as md
INNER JOIN compound_properties AS cp ON md.molregno = cp.molregno
INNER JOIN compound_structures AS cs ON cp.molregno = cs.molregno
""", con)

In [10]:
df_newjoin.head(n=20)

,molregno,molfile,standard_inchi,standard_inchi_key,canonical_smiles,molregno,pref_name,chembl_id,max_phase,therapeutic_flag,...,molecular_species,full_mwt,aromatic_rings,heavy_atoms,qed_weighted,mw_monoisotopic,full_molformula,hba_lipinski,hbd_lipinski,num_lipinski_ro5_violations
0,1,\n RDKit 2D\n\n 24 26 0 0 0 0...,InChI=1S/C17H12ClN3O3/c1-10-8-11(21-17(24)20-1...,OWRSAHYFSSNENM-UHFFFAOYSA-N,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccccc1Cl,1,None,CHEMBL6329,0,0,...,ACID,341.75,3.0,24.0,0.74,341.0567,C17H12ClN3O3,6.0,1.0,0.0
1,2,\n RDKit 2D\n\n 25 27 0 0 0 0...,InChI=1S/C18H12N4O3/c1-11-8-14(22-18(25)21-16(...,ZJYUMURGSZQFMH-UHFFFAOYSA-N,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccc(C#N)cc1,2,None,CHEMBL6328,0,0,...,ACID,332.32,3.0,25.0,0.73,332.0909,C18H12N4O3,7.0,1.0,0.0
2,3,\n RDKit 2D\n\n 25 27 0 0 0 0...,InChI=1S/C18H16ClN3O3/c1-10-7-14(22-18(25)21-1...,YOMWDCALSDWFSV-UHFFFAOYSA-N,Cc1cc(-n2ncc(=O)[nH]c2=O)cc(C)c1C(O)c1ccc(Cl)cc1,3,None,CHEMBL265667,0,0,...,ACID,357.80,3.0,25.0,0.75,357.0880,C18H16ClN3O3,6.0,2.0,0.0
3,4,\n RDKit 2D\n\n 23 25 0 0 0 0...,InChI=1S/C17H13N3O3/c1-11-2-4-12(5-3-11)16(22)...,PSOPUAQFGCRDIP-UHFFFAOYSA-N,Cc1ccc(C(=O)c2ccc(-n3ncc(=O)[nH]c3=O)cc2)cc1,4,None,CHEMBL6362,0,0,...,ACID,307.31,3.0,23.0,0.74,307.0957,C17H13N3O3,6.0,1.0,0.0
4,5,\n RDKit 2D\n\n 24 26 0 0 0 0...,InChI=1S/C17H12ClN3O3/c1-10-8-13(21-17(24)20-1...,KEZNSCMBVRNOHO-UHFFFAOYSA-N,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccc(Cl)cc1,5,None,CHEMBL267864,0,0,...,ACID,341.75,3.0,24.0,0.74,341.0567,C17H12ClN3O3,6.0,1.0,0.0
5,6,\n RDKit 2D\n\n 23 25 0 0 0 0...,InChI=1S/C17H13N3O3/c1-11-9-13(20-17(23)19-15(...,ZKEKOOJDMYTEMP-UHFFFAOYSA-N,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccccc1,6,None,CHEMBL6363,0,0,...,ACID,307.31,3.0,23.0,0.74,307.0957,C17H13N3O3,6.0,1.0,0.0
6,7,\n RDKit 2D\n\n 25 27 0 0 0 0...,InChI=1S/C17H11BrClN3O3/c1-9-6-10(18)2-4-12(9)...,OKZQSFTUAACQQS-UHFFFAOYSA-N,Cc1cc(Br)ccc1C(=O)c1ccc(-n2ncc(=O)[nH]c2=O)cc1Cl,7,None,CHEMBL6352,0,0,...,ACID,420.65,3.0,25.0,0.66,418.9672,C17H11BrClN3O3,6.0,1.0,0.0
7,8,\n RDKit 2D\n\n 25 27 0 0 0 0...,InChI=1S/C16H8Cl3N3O3/c17-8-1-3-10(12(18)5-8)1...,STDSVETYHZLIBJ-UHFFFAOYSA-N,O=C(c1ccc(Cl)cc1Cl)c1ccc(-n2ncc(=O)[nH]c2=O)cc1Cl,8,None,CHEMBL268097,0,0,...,NEUTRAL,396.62,3.0,25.0,0.69,394.9631,C16H8Cl3N3O3,6.0,1.0,0.0
8,9,\n RDKit 2D\n\n 27 29 0 0 0 0...,"InChI=1S/C17H12ClN3O5S/c1-27(25,26)12-5-2-10(3...",NKQAZJTVQHGKAX-UHFFFAOYSA-N,CS(=O)(=O)c1ccc(C(=O)c2ccc(-n3ncc(=O)[nH]c3=O)...,9,None,CHEMBL266457,0,0,...,ACID,405.82,3.0,27.0,0.65,405.0186,C17H12ClN3O5S,8.0,1.0,0.0
9,10,\n RDKit 2D\n\n 46 52 0 0 0 0...,InChI=1S/C42H44N4/c1-2-4-6-12-26-44-40-24-28-4...,QFSGJJCWIIUQCT-UUHCYPSGSA-P,c1cc2cc(c1)-c1cccc(c1)C[n+]1ccc(c3ccccc31)NCCC...,10,None,CHEMBL268556,0,0,...,NEUTRAL,606.86,6.0,46.0,0.17,606.3712,C42H46N4+2,4.0,2.0,2.0
10,15,\n RDKit 2D\n\n 25 27 0 0 0 0...,InChI=1S/C17H12ClN3O3S/c1-25-12-5-2-10(3-6-12)...,AHSGSKZYZFQYPJ-UHFFFAOYSA-N,CSc1ccc(C(=O)c2ccc(-n3ncc(=O)[nH]c3=O)cc2Cl)cc1,15,None,CHEMBL6214,0,0,...,ACID,373.82,3.0,25.0,0.56,373.0288,C17H12ClN3O3S,6.0,1.0,0.0
11,21,\n RDKit 2D\n\n 24 26 0 0 0 0...,InChI=1S/C16H9Cl2N3O3/c17-10-3-1-9(2-4-10)15(2...,NIRBVFLCQJVJOQ-UHFFFAOYSA-N,O=C(c1ccc(Cl)cc1)c1ccc(-n2ncc(=O)[nH]c2=O)cc1Cl,21,None,CHEMBL6222,0,0,...,ACID,362.17,3.0,24.0,0.73,361.0021,C16H9Cl2N3O3,6.0,1.0,0.0
12,23,\n RDKit 2D\n\n 19 21 0 0 0 0...,InChI=1S/C16H13BrO2/c17-10-12-8-9-15(16(18)19-...,BYUCSFWXCMTYOI-ZRDIBKRKSA-N,O=C1O/C(=C/Br)CCC1c1cccc2ccccc12,23,BROMOENOL LACTONE,CHEMBL6206,0,0,...,NEUTRAL,317.18,2.0,19.0,0.72,316.0099,C16H13BrO2,2.0,0.0,0.0
13,24,\n RDKit 2D\n\n 19 21 0 0 0 0...,InChI=1S/C16H13IO2/c17-10-12-8-9-15(16(18)19-1...,ZJGPRRLHNMNINO-ZRDIBKRKSA-N,O=C1O/C(=C/I)CCC1c1cccc2ccccc12,24,None,CHEMBL6223,0,0,...,NEUTRAL,364.18,2.0,19.0,0.55,363.9960,C16H13IO2,2.0,0.0,0.0
14,25,\n RDKit 2D\n\n 20 22 0 0 0 0...,InChI=1S/C18H14O2/c1-2-6-14-11-12-17(18(19)20-...,NHOIHEBFAKOZIE-MKMNVTDBSA-N,C#C/C=C1\CCC(c2cccc3ccccc23)C(=O)O1,25,None,CHEMBL269758,0,0,...,NEUTRAL,262.31,2.0,20.0,0.58,262.0994,C18H14O2,2.0,0.0,0.0
15,26,\n RDKit 2D\n\n 19 21 0 0 0 0...,InChI=1S/C16H13IO2/c17-10-12-8-9-15(16(18)19-1...,ZJGPRRLHNMNINO-BENRWUELSA-N,O=C1O/C(=C\I)CCC1c1cccc2ccccc12,26,None,CHEMBL6228,0,0,...,NEUTRAL,364.18,2.0,19.0,0.55,363.9960,C16H13IO2,2.0,0.0,0.0
16,27,\n RDKit 2D\n\n 22 24 0 0 0 0...,InChI=1S/C16H11N3O3/c20-14-10-17-19(16(22)18-1...,KXRCWAXGSZBUMP-UHFFFAOYSA-N,O=C(c1ccccc1)c1ccc(-n2ncc(=O)[nH]c2=O)cc1,27,None,CHEMBL268365,0,0,...,ACID,293.28,3.0,22.0,0.73,293.0800,C16H11N3O3,6.0,1.0,0.0
17,28,\n RDKit 2D\n\n 24 26 0 0 0 0...,InChI=1S/C16H11Cl2N3O3/c17-10-3-1-9(2-4-10)15(...,PDYOESYMTUGYJT-UHFFFAOYSA-N,O=c1cnn(-c2ccc(C(O)c3ccc(Cl)cc3)c(Cl)c2)c(=O)[...,28,None,CHEMBL6230,0,0,...,ACID,364.19,3.0,24.0,0.75,363.0177,C16H11Cl2N3O3,6.0,2.0,0.0
18,29,\n RDKit 2D\n\n 23 25 0 0 0 0...,InChI=1S/C16H10ClN3O3/c17-13-7-6-11(20-16(23)1...,IRMUFUSLSOVJAG-UHFFFAOYSA-N,O=C(c1ccccc1)c1cc(-n2ncc(=O)[nH]c2=O)ccc1Cl,29,None,CHEMBL6254,0,0,...,ACID,327.73,3.0,23.0,0.74,327.0411,C16H10ClN3O3,6.0,1.0,0.0
19,30,\n RDKit 2D\n\n 23 25 0 0 0 0...,InChI=1S/C17H15N3O3/c1-11-9-13(20-17(23)19-15(...,YWQVTKJCJCEWGL-UHFFFAOYSA-N,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(O)c1ccccc1,30,None,CHEMBL6268,0,0,...,ACID,309.32,3.0,23.0,0.76,309.1113,C17H15N3O3,6.0,2.0,0.0

In [18]:
# df_join2=pd.read_sql_query("""SELECT
# cs.*, md.*, cp.*, a.*,at.*
# FROM molecule_dictionary as md
# INNER JOIN compound_properties AS cp ON md.molregno = cp.molregno
# INNER JOIN compound_structures AS cs ON cp.molregno = cs.molregno
# INNER JOIN assays AS a ON md.chembl_id=a.chembl_id
# INNER JOIN assay_type AS at ON a.assay_type=at.assay_type
# """, con)

In [19]:
# df_join2.head()

Empty DataFrame
Columns: [molregno, molfile, standard_inchi, standard_inchi_key, canonical_smiles, molregno, pref_name, chembl_id, max_phase, therapeutic_flag, dosed_ingredient, structure_type, chebi_par_id, molecule_type, first_approval, oral, parenteral, topical, black_box_warning, natural_product, first_in_class, chirality, prodrug, inorganic_flag, usan_year, availability_type, usan_stem, polymer_flag, usan_substem, usan_stem_definition, indication_class, withdrawn_flag, withdrawn_year, withdrawn_country, withdrawn_reason, withdrawn_class, molregno, mw_freebase, alogp, hba, hbd, psa, rtb, ro3_pass, num_ro5_violations, cx_most_apka, cx_most_bpka, cx_logp, cx_logd, molecular_species, full_mwt, aromatic_rings, heavy_atoms, qed_weighted, mw_monoisotopic, full_molformula, hba_lipinski, hbd_lipinski, num_lipinski_ro5_violations, assay_id, doc_id, description, assay_type, assay_test_type, assay_category, assay_organism, assay_tax_id, assay_strain, assay_tissue, assay_cell_type, assay_subcellular_fraction, tid, relationship_type, confidence_score, curated_by, src_id, src_assay_id, chembl_id, cell_id, bao_format, tissue_id, variant_id, aidx, assay_type, assay_desc]
Index: []

[0 rows x 85 columns]

In [11]:
# df_join3=pd.read_sql_query("""SELECT
# cs.*, md.*, cp.*, a.*,at.*,td.*
# FROM molecule_dictionary as md
# INNER JOIN compound_properties AS cp ON md.molregno = cp.molregno
# LEFT JOIN compound_structures AS cs ON cp.molregno = cs.molregno
# RIGHT JOIN assays AS a ON md.chembl_id=a.chembl_id
# INNER JOIN target_dictionary AS td ON a.chembl_id=td.chembl_id
# INNER JOIN assay_type AS at ON a.assay_type=at.assay_type
# """, con)

In [ ]:
df_join3.head(n=10)

In [ ]:
df_newjoin4=pd.read_sql_query("""SELECT
cs.*, md.*, cp.*, cr.*, s.*
FROM 
molecule_dictionary as md
INNER JOIN compound_properties AS cp ON md.molregno = cp.molregno
INNER JOIN compound_structures AS cs ON cp.molregno = cs.molregno
INNER JOIN compound_records AS cr ON cr.molregno=md.molregno
INNER JOIN source AS s ON s.src_id=cr.src_id
""", con)

In [12]:
df_newjoin4

,molregno,molfile,standard_inchi,standard_inchi_key,canonical_smiles,molregno,pref_name,chembl_id,max_phase,therapeutic_flag,...,molregno,doc_id,compound_key,compound_name,src_id,src_compound_id,cidx,src_id,src_description,src_short_name
0,1,\n RDKit 2D\n\n 24 26 0 0 0 0...,InChI=1S/C17H12ClN3O3/c1-10-8-11(21-17(24)20-1...,OWRSAHYFSSNENM-UHFFFAOYSA-N,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccccc1Cl,1,None,CHEMBL6329,0,0,...,1,7792,28,2-[4-(2-Chloro-benzoyl)-3-methyl-phenyl]-2H-[1...,1,None,CLD0,1,Scientific Literature,LITERATURE
1,2,\n RDKit 2D\n\n 25 27 0 0 0 0...,InChI=1S/C18H12N4O3/c1-11-8-14(22-18(25)21-16(...,ZJYUMURGSZQFMH-UHFFFAOYSA-N,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccc(C#N)cc1,2,None,CHEMBL6328,0,0,...,2,7792,27,"4-[4-(3,5-Dioxo-4,5-dihydro-3H-[1,2,4]triazin-...",1,None,CLD0,1,Scientific Literature,LITERATURE
2,3,\n RDKit 2D\n\n 25 27 0 0 0 0...,InChI=1S/C18H16ClN3O3/c1-10-7-14(22-18(25)21-1...,YOMWDCALSDWFSV-UHFFFAOYSA-N,Cc1cc(-n2ncc(=O)[nH]c2=O)cc(C)c1C(O)c1ccc(Cl)cc1,3,None,CHEMBL265667,0,0,...,3,7792,38,"2-{4-[(4-Chloro-phenyl)-hydroxy-methyl]-3,5-di...",1,None,CLD0,1,Scientific Literature,LITERATURE
3,4,\n RDKit 2D\n\n 23 25 0 0 0 0...,InChI=1S/C17H13N3O3/c1-11-2-4-12(5-3-11)16(22)...,PSOPUAQFGCRDIP-UHFFFAOYSA-N,Cc1ccc(C(=O)c2ccc(-n3ncc(=O)[nH]c3=O)cc2)cc1,4,None,CHEMBL6362,0,0,...,4,7792,16,"2-[4-(4-Methyl-benzoyl)-phenyl]-2H-[1,2,4]tria...",1,None,CLD0,1,Scientific Literature,LITERATURE
4,5,\n RDKit 2D\n\n 24 26 0 0 0 0...,InChI=1S/C17H12ClN3O3/c1-10-8-13(21-17(24)20-1...,KEZNSCMBVRNOHO-UHFFFAOYSA-N,Cc1cc(-n2ncc(=O)[nH]c2=O)ccc1C(=O)c1ccc(Cl)cc1,5,None,CHEMBL267864,0,0,...,5,7792,26,2-[4-(4-Chloro-benzoyl)-3-methyl-phenyl]-2H-[1...,1,None,CLD0,1,Scientific Literature,LITERATURE

In [ ]:
# df_newjoin5=pd.read_sql_query("""SELECT
# cs.*, md.*, cp.*, cr.*, s.*,a.*,at.*,td.*
# FROM 
# molecule_dictionary as md
# INNER JOIN compound_properties AS cp ON md.molregno = cp.molregno
# INNER JOIN compound_structures AS cs ON cp.molregno = cs.molregno
# INNER JOIN compound_records AS cr ON md.molregno=cr.molregno
# INNER JOIN source AS s ON cr.src_id=s.src_id
# INNER JOIN assays AS a ON s.src_id=a.src_id
# INNER JOIN assay_type AS at ON a.assay_type=at.assay_type
# INNER JOIN target_dictionary AS td ON a.tid=td.tid
# WHERE td.organism='Bos taurus' 
# AND at.assay_type='A'
# """, con)

In [9]:
# df_newjoin5

### From Target to assay then to molecule dictionary

In [44]:
df_td_a_act=pd.read_sql_query("""SELECT 
                            a.assay_id, a.assay_type, 
                            t.tid, t.target_type, t.tax_id, t.organism,
                            act.activity_id, act.assay_id, act.molregno, act.record_id, act.relation, 
                            act.type, act.value, act.units, act.standard_relation, 
                            act.standard_type, act.standard_value, act.standard_units
                            FROM 
                            target_dictionary t 
                            INNER JOIN assays a ON a.tid=t.tid 
                            INNER JOIN activities act ON act.assay_id=a.assay_id
                            WHERE t.organism='Bos taurus'AND a.assay_type='A' 
                            OR t.organism='Bos taurus' AND a.assay_type='T'""", con )

In [45]:
df_td_a_act

,assay_id,assay_type,tid,target_type,tax_id,organism,activity_id,assay_id,molregno,record_id,relation,type,value,units,standard_relation,standard_type,standard_value,standard_units
0,13794,A,50591,ORGANISM,9913,Bos taurus,82538,13794,31974,34431,=,K,11700.0,M-1,=,K,11700.0,M-1
1,13794,A,50591,ORGANISM,9913,Bos taurus,99462,13794,32044,34429,=,K,10100.0,M-1,=,K,10100.0,M-1
2,13794,A,50591,ORGANISM,9913,Bos taurus,102570,13794,1063,34428,=,K,736.0,M-1,=,K,736.0,M-1
3,15203,A,50591,ORGANISM,9913,Bos taurus,275855,15203,23765,24558,=,Km,3.9,mM,=,Km,3900000.0,nM
4,15203,A,50591,ORGANISM,9913,Bos taurus,277188,15203,372430,24547,=,Km,2.7,mM,=,Km,2700000.0,nM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,1923672,A,12879,SINGLE PROTEIN,9913,Bos taurus,19406838,1923672,2380627,3243542,None,PB,NaN,None,None,PPB,NaN,None
966,1923672,A,12879,SINGLE PROTEIN,9913,Bos taurus,19406839,1923672,2420146,3243543,None,PB,NaN,None,None,PPB,NaN,None
967,1923672,A,12879,SINGLE PROTEIN,9913,Bos taurus,19419977,1923672,2362612,3243541,None,PB,NaN,None,None,PPB,NaN,None
968,1923672,A,12879,SINGLE PROTEIN,9913,Bos taurus,19419978,1923672,2380627,3243542,None,PB,NaN,None,None,PPB,NaN,None
969,1923672,A,12879,SINGLE PROTEIN,9913,Bos taurus,19419979,1923672,2420146,3243543,None,PB,NaN,None,None,PPB,NaN,None

In [24]:
df_td_a_act_cp_md=pd.read_sql_query("""SELECT 
                            a.assay_type, 
                            t.target_type, t.tax_id, t.organism,
                            act.relation, act.type, act.value, act.units, act.standard_relation, 
                            act.standard_type, act.standard_value, act.standard_units,
                            md.molregno, md.chembl_id, md.structure_type, md.molecule_type,
                            md.chirality, md.natural_product
                            FROM 
                            target_dictionary t 
                            INNER JOIN assays a ON a.tid=t.tid 
                            INNER JOIN activities act ON act.assay_id=a.assay_id
                            INNER JOIN compound_records cp ON cp.record_id=act.record_id
                            INNER JOIN molecule_dictionary md ON md.molregno=cp.molregno
                            WHERE t.organism='Bos taurus'AND a.assay_type='A' 
                                  OR t.organism='Bos taurus' AND a.assay_type='T'""", con )

In [25]:
df_td_a_act_cp_md

,assay_type,target_type,tax_id,organism,relation,type,value,units,standard_relation,standard_type,standard_value,standard_units,molregno,chembl_id,structure_type,molecule_type,chirality,natural_product
0,A,ORGANISM,9913,Bos taurus,=,K,11700.0,M-1,=,K,11700.0,M-1,31974,CHEMBL24556,MOL,Small molecule,-1,-1
1,A,ORGANISM,9913,Bos taurus,=,K,10100.0,M-1,=,K,10100.0,M-1,32044,CHEMBL285692,MOL,Small molecule,-1,-1
2,A,ORGANISM,9913,Bos taurus,=,K,736.0,M-1,=,K,736.0,M-1,1063,CHEMBL416,MOL,Small molecule,2,0
3,A,ORGANISM,9913,Bos taurus,=,Km,3.9,mM,=,Km,3900000.0,nM,23765,CHEMBL19976,MOL,Small molecule,-1,-1
4,A,ORGANISM,9913,Bos taurus,=,Km,2.7,mM,=,Km,2700000.0,nM,372430,CHEMBL223737,MOL,Small molecule,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,A,SINGLE PROTEIN,9913,Bos taurus,None,PB,NaN,None,None,PPB,NaN,None,2380627,CHEMBL4473618,MOL,None,-1,-1
966,A,SINGLE PROTEIN,9913,Bos taurus,None,PB,NaN,None,None,PPB,NaN,None,2420146,CHEMBL4549718,MOL,None,-1,-1
967,A,SINGLE PROTEIN,9913,Bos taurus,None,PB,NaN,None,None,PPB,NaN,None,2362612,CHEMBL4455603,MOL,None,-1,-1
968,A,SINGLE PROTEIN,9913,Bos taurus,None,PB,NaN,None,None,PPB,NaN,None,2380627,CHEMBL4473618,MOL,None,-1,-1
969,A,SINGLE PROTEIN,9913,Bos taurus,None,PB,NaN,None,None,PPB,NaN,None,2420146,CHEMBL4549718,MOL,None,-1,-1

### Exctracting data for Bos taurus (cow)

In [5]:
df_td_a_act_cr_md_cs_cp=pd.read_sql_query("""SELECT 
                            a.assay_type, 
                            t.target_type, t.tax_id, t.organism,
                            act.relation, act.type, act.value, act.units, act.standard_relation, 
                            act.standard_type, act.standard_value, act.standard_units,
                            md.molregno, md.chembl_id, md.structure_type, md.molecule_type,
                            md.chirality, md.natural_product,
                            cs.standard_inchi, cs.canonical_smiles,
                            cp.*
                            FROM 
                            target_dictionary t 
                            INNER JOIN assays a on a.tid=t.tid 
                            INNER JOIN activities act on act.assay_id=a.assay_id
                            INNER JOIN compound_records cr on cr.record_id=act.record_id
                            INNER JOIN molecule_dictionary md on md.molregno=cr.molregno
                            INNER JOIN compound_structures cs on cs.molregno=md.molregno
                            INNER JOIN compound_properties cp on cp.molregno=cs.molregno
                            WHERE t.organism='Bos taurus'and a.assay_type='A' 
                                  OR t.organism='Bos taurus' and a.assay_type='T'""", con )

In [6]:
df_td_a_act_cr_md_cs_cp

,assay_type,target_type,tax_id,organism,relation,type,value,units,standard_relation,standard_type,...,molecular_species,full_mwt,aromatic_rings,heavy_atoms,qed_weighted,mw_monoisotopic,full_molformula,hba_lipinski,hbd_lipinski,num_lipinski_ro5_violations
0,A,ORGANISM,9913,Bos taurus,=,K,11700.0,M-1,=,K,...,NEUTRAL,241.29,3.0,18.0,0.61,241.1103,C15H15NO2,3.0,0.0,0.0
1,A,ORGANISM,9913,Bos taurus,=,K,10100.0,M-1,=,K,...,NEUTRAL,228.25,3.0,17.0,0.55,228.0786,C14H12O3,3.0,0.0,0.0
2,A,ORGANISM,9913,Bos taurus,=,K,736.0,M-1,=,K,...,NEUTRAL,216.19,3.0,16.0,0.59,216.0423,C12H8O4,4.0,0.0,0.0
3,A,ORGANISM,9913,Bos taurus,=,Km,3.9,mM,=,Km,...,ACID,303.22,2.0,20.0,0.55,303.0733,C9H14N5O5P,10.0,5.0,0.0
4,A,ORGANISM,9913,Bos taurus,=,Km,2.7,mM,=,Km,...,ACID,289.19,2.0,19.0,0.40,289.0576,C8H12N5O5P,10.0,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963,A,SINGLE PROTEIN,9913,Bos taurus,None,PB,NaN,None,None,PPB,...,None,2947.02,NaN,NaN,NaN,2945.3473,C117H196N32O56,NaN,NaN,NaN
964,A,SINGLE PROTEIN,9913,Bos taurus,None,PB,NaN,None,None,PPB,...,None,4004.29,NaN,NaN,NaN,4001.9764,C165H292N32O80,NaN,NaN,NaN
965,A,SINGLE PROTEIN,9913,Bos taurus,None,PB,NaN,None,None,PPB,...,None,2418.39,NaN,NaN,NaN,2417.0327,C93H148N32O44,NaN,NaN,NaN
966,A,SINGLE PROTEIN,9913,Bos taurus,None,PB,NaN,None,None,PPB,...,None,2947.02,NaN,NaN,NaN,2945.3473,C117H196N32O56,NaN,NaN,NaN
967,A,SINGLE PROTEIN,9913,Bos taurus,None,PB,NaN,None,None,PPB,...,None,4004.29,NaN,NaN,NaN,4001.9764,C165H292N32O80,NaN,NaN,NaN

In [25]:
df_bos=df_td_a_act_cr_md_cs_cp.to_csv('Bos_taurus.csv', sep=';', index=False)

### Exctracting data for Sus scrofa (pig)

In [7]:
df_sus=pd.read_sql_query("""SELECT 
                            a.assay_type, 
                            t.target_type, t.tax_id, t.organism,
                            act.relation, act.type, act.value, act.units, act.standard_relation, 
                            act.standard_type, act.standard_value, act.standard_units,
                            md.molregno, md.chembl_id, md.structure_type, md.molecule_type,
                            md.chirality, md.natural_product,
                            cs.standard_inchi, cs.canonical_smiles,
                            cp.*
                            FROM 
                            target_dictionary t 
                            INNER JOIN assays a ON a.tid=t.tid 
                            INNER JOIN activities act ON act.assay_id=a.assay_id
                            INNER JOIN compound_records cr ON cr.record_id=act.record_id
                            INNER JOIN molecule_dictionary md ON md.molregno=cr.molregno
                            INNER JOIN compound_structures cs ON cs.molregno=md.molregno
                            INNER JOIN compound_properties cp ON cp.molregno=cs.molregno
                            WHERE t.organism='Sus scrofa'AND a.assay_type='A' 
                                  OR t.organism='Sus scrofa' AND a.assay_type='T'""", con )

In [12]:
df_sus

,assay_type,target_type,tax_id,organism,relation,type,value,units,standard_relation,standard_type,...,molecular_species,full_mwt,aromatic_rings,heavy_atoms,qed_weighted,mw_monoisotopic,full_molformula,hba_lipinski,hbd_lipinski,num_lipinski_ro5_violations
0,A,ORGANISM,9823,Sus scrofa,=,Km,17.5,uM,=,Km,...,ACID,443.46,2.0,32.0,0.32,443.1805,C21H25N5O6,11.0,7.0,2.0
1,A,ORGANISM,9823,Sus scrofa,=,Km,15.0,uM,=,Km,...,ACID,456.48,3.0,32.0,0.30,456.1104,C21H20N4O6S,10.0,6.0,1.0
2,A,ORGANISM,9823,Sus scrofa,=,Km,8.1,uM,=,Km,...,ACID,441.47,3.0,31.0,0.37,441.0995,C21H19N3O6S,9.0,4.0,0.0
3,A,ORGANISM,9823,Sus scrofa,=,Km,93.0,uM,=,Km,...,ACID,441.40,3.0,32.0,0.26,441.1397,C19H19N7O6,13.0,7.0,2.0
4,A,ORGANISM,9823,Sus scrofa,=,Km,7.7,uM,=,Km,...,ACID,441.40,3.0,32.0,0.26,441.1397,C19H19N7O6,13.0,7.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2390,A,CELL-LINE,9823,Sus scrofa,=,Ratio,1.2,None,=,Ratio,...,NEUTRAL,346.39,4.0,26.0,0.56,346.1542,C19H18N6O,7.0,0.0,0.0
2391,A,CELL-LINE,9823,Sus scrofa,=,Ratio,1.3,None,=,Ratio,...,NEUTRAL,347.38,4.0,26.0,0.55,347.1495,C18H17N7O,8.0,0.0,0.0
2392,A,CELL-LINE,9823,Sus scrofa,=,Ratio,1.2,None,=,Ratio,...,NEUTRAL,361.41,4.0,27.0,0.55,361.1651,C19H19N7O,8.0,0.0,0.0
2393,A,SINGLE PROTEIN,9823,Sus scrofa,None,Drug metabolism,NaN,None,None,Drug metabolism,...,NEUTRAL,453.32,0.0,26.0,0.07,380.1907,C14H30Cl2N4O8,12.0,9.0,2.0
2394,A,SINGLE PROTEIN,9823,Sus scrofa,None,Drug metabolism,NaN,None,None,Drug metabolism,...,ZWITTERION,374.33,0.0,24.0,0.09,352.1594,C12H23N4NaO8,12.0,10.0,2.0

In [13]:
df_sus.to_csv('Sus_scrofa.csv', sep=';', index=False)

### Exctracting data for Ovis aries (sheep)

In [8]:
df_ovis=pd.read_sql_query("""SELECT 
                            a.assay_type, 
                            t.target_type, t.tax_id, t.organism,
                            act.relation, act.type, act.value, act.units, act.standard_relation, 
                            act.standard_type, act.standard_value, act.standard_units,
                            md.molregno, md.chembl_id, md.structure_type, md.molecule_type,
                            md.chirality, md.natural_product,
                            cs.standard_inchi, cs.canonical_smiles,
                            cp.*
                            FROM 
                            target_dictionary t 
                            INNER JOIN assays a ON a.tid=t.tid 
                            INNER JOIN activities act ON act.assay_id=a.assay_id
                            INNER JOIN compound_records cr ON cr.record_id=act.record_id
                            INNER JOIN molecule_dictionary md ON md.molregno=cr.molregno
                            INNER JOIN compound_structures cs ON cs.molregno=md.molregno
                            INNER JOIN compound_properties cp ON cp.molregno=cs.molregno
                            WHERE t.organism='Ovis aries'AND a.assay_type='A' 
                                  OR t.organism='Ovis aries' AND a.assay_type='T'""", con )

In [15]:
df_ovis

,assay_type,target_type,tax_id,organism,relation,type,value,units,standard_relation,standard_type,...,molecular_species,full_mwt,aromatic_rings,heavy_atoms,qed_weighted,mw_monoisotopic,full_molformula,hba_lipinski,hbd_lipinski,num_lipinski_ro5_violations
0,A,ORGANISM,9940,Ovis aries,=,Activity,83.0,%,=,Activity,...,NEUTRAL,393.54,2.0,27.0,0.62,393.1082,C20H19N5S2,5.0,1.0,0.0
1,A,ORGANISM,9940,Ovis aries,=,Activity,0.0,%,=,Activity,...,NEUTRAL,219.31,1.0,15.0,0.73,219.0830,C11H13N3S,3.0,2.0,0.0
2,A,ORGANISM,9940,Ovis aries,=,Activity,97.0,%,=,Activity,...,NEUTRAL,393.54,2.0,27.0,0.62,393.1082,C20H19N5S2,5.0,1.0,0.0
3,A,ORGANISM,9940,Ovis aries,None,Activity,NaN,%,None,Activity,...,NEUTRAL,219.31,1.0,15.0,0.73,219.0830,C11H13N3S,3.0,2.0,0.0
4,A,ORGANISM,9940,Ovis aries,None,Activity,NaN,%,None,Activity,...,NEUTRAL,219.31,1.0,15.0,0.73,219.0830,C11H13N3S,3.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,A,SINGLE PROTEIN,9940,Ovis aries,=,IC50,195.0,nM,=,IC50,...,NEUTRAL,491.99,4.0,35.0,0.36,491.1776,C28H27ClFN3O2,5.0,0.0,1.0
248,A,SINGLE PROTEIN,9940,Ovis aries,=,IC50,361.4,nM,=,IC50,...,NEUTRAL,512.87,4.0,34.0,0.30,511.0985,C27H24Cl3N3O,4.0,0.0,2.0
249,A,SINGLE PROTEIN,9940,Ovis aries,=,IC50,489.9,nM,=,IC50,...,ACID,357.79,3.0,25.0,0.77,357.0768,C19H16ClNO4,5.0,1.0,0.0
250,A,SINGLE PROTEIN,9940,Ovis aries,>,IC50,500.0,nM,>,IC50,...,NEUTRAL,381.38,3.0,26.0,0.75,381.0759,C17H14F3N3O2S,5.0,2.0,0.0
251,A,SINGLE PROTEIN,9940,Ovis aries,None,IC50,NaN,None,None,IC50,...,NEUTRAL,236.30,2.0,16.0,0.62,236.0619,C11H12N2O2S,4.0,3.0,0.0

In [20]:
df_ovis.to_csv('Ovis_aries.csv', sep=';', index=False)

In [9]:
merged1 = pd.concat([df_td_a_act_cr_md_cs_cp,df_ovis])

In [10]:
merged2=pd.concat([merged1,df_sus])

In [11]:
df_cattle=merged2.to_csv('cattle.csv', sep=';', index=False)

In [11]:
merged2.head(n=200)

,assay_type,target_type,tax_id,organism,relation,type,value,units,standard_relation,standard_type,...,molecular_species,full_mwt,aromatic_rings,heavy_atoms,qed_weighted,mw_monoisotopic,full_molformula,hba_lipinski,hbd_lipinski,num_lipinski_ro5_violations
0,A,ORGANISM,9913,Bos taurus,=,K,11700.0,M-1,=,K,...,NEUTRAL,241.29,3.0,18.0,0.61,241.1103,C15H15NO2,3.0,0.0,0.0
1,A,ORGANISM,9913,Bos taurus,=,K,10100.0,M-1,=,K,...,NEUTRAL,228.25,3.0,17.0,0.55,228.0786,C14H12O3,3.0,0.0,0.0
2,A,ORGANISM,9913,Bos taurus,=,K,736.0,M-1,=,K,...,NEUTRAL,216.19,3.0,16.0,0.59,216.0423,C12H8O4,4.0,0.0,0.0
3,A,ORGANISM,9913,Bos taurus,=,Km,3.9,mM,=,Km,...,ACID,303.22,2.0,20.0,0.55,303.0733,C9H14N5O5P,10.0,5.0,0.0
4,A,ORGANISM,9913,Bos taurus,=,Km,2.7,mM,=,Km,...,ACID,289.19,2.0,19.0,0.40,289.0576,C8H12N5O5P,10.0,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,A,SINGLE PROTEIN,9913,Bos taurus,None,Activity,NaN,None,None,Activity,...,ACID,432.56,0.0,31.0,0.56,432.2512,C25H36O6,6.0,3.0,0.0
196,A,SINGLE PROTEIN,9913,Bos taurus,None,Activity,NaN,None,None,Activity,...,NEUTRAL,418.57,0.0,30.0,0.59,418.2719,C25H38O5,5.0,3.0,0.0
197,A,SINGLE PROTEIN,9913,Bos taurus,None,Activity,NaN,None,None,Activity,...,NEUTRAL,416.56,0.0,30.0,0.39,416.2563,C25H36O5,5.0,2.0,0.0
198,A,SINGLE PROTEIN,9913,Bos taurus,None,Activity,NaN,None,None,Activity,...,NEUTRAL,418.57,0.0,30.0,0.45,418.2719,C25H38O5,5.0,3.0,0.0
199,A,SINGLE PROTEIN,9913,Bos taurus,None,Activity,NaN,None,None,Activity,...,NEUTRAL,418.57,0.0,30.0,0.39,418.2719,C25H38O5,5.0,2.0,0.0

### Exctracting data for *Rattus norvegicus* (rat)

In [12]:
df_rattus=pd.read_sql_query("""SELECT 
                            a.assay_type, 
                            t.target_type, t.tax_id, t.organism,
                            act.relation, act.type, act.value, act.units, act.standard_relation, 
                            act.standard_type, act.standard_value, act.standard_units,
                            md.molregno, md.chembl_id, md.structure_type, md.molecule_type,
                            md.chirality, md.natural_product,
                            cs.standard_inchi, cs.canonical_smiles,
                            cp.*
                            FROM 
                            target_dictionary t 
                            INNER JOIN assays a ON a.tid=t.tid 
                            INNER JOIN activities act ON act.assay_id=a.assay_id
                            INNER JOIN compound_records cr ON cr.record_id=act.record_id
                            INNER JOIN molecule_dictionary md ON md.molregno=cr.molregno
                            INNER JOIN compound_structures cs ON cs.molregno=md.molregno
                            INNER JOIN compound_properties cp ON cp.molregno=cs.molregno
                            WHERE t.organism='Rattus norvegicus'AND a.assay_type='A' 
                                  OR t.organism='Rattus norvegicus' AND a.assay_type='T'""", con )

In [10]:
df_rattus

,assay_type,target_type,tax_id,organism,relation,type,value,units,standard_relation,standard_type,...,molecular_species,full_mwt,aromatic_rings,heavy_atoms,qed_weighted,mw_monoisotopic,full_molformula,hba_lipinski,hbd_lipinski,num_lipinski_ro5_violations
0,A,SINGLE PROTEIN,10116,Rattus norvegicus,=,IC50,0.369,uM,=,IC50,...,NEUTRAL,531.44,3.0,36.0,0.46,530.1488,C26H28Cl2N4O4,8.0,0.0,1.0
1,A,SINGLE PROTEIN,10116,Rattus norvegicus,=,IC50,0.728,uM,=,IC50,...,NEUTRAL,531.44,3.0,36.0,0.46,530.1488,C26H28Cl2N4O4,8.0,0.0,1.0
2,A,SINGLE PROTEIN,10116,Rattus norvegicus,=,IC50,1.080,uM,=,IC50,...,NEUTRAL,531.44,3.0,36.0,0.46,530.1488,C26H28Cl2N4O4,8.0,0.0,1.0
3,A,SINGLE PROTEIN,10116,Rattus norvegicus,=,IC50,0.543,uM,=,IC50,...,NEUTRAL,531.44,3.0,36.0,0.46,530.1488,C26H28Cl2N4O4,8.0,0.0,1.0
4,A,SINGLE PROTEIN,10116,Rattus norvegicus,=,IC50,84.100,uM,=,IC50,...,NEUTRAL,531.44,3.0,36.0,0.46,530.1488,C26H28Cl2N4O4,8.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612511,T,ORGANISM,10116,Rattus norvegicus,=,TI,3.000,None,=,TI,...,NEUTRAL,326.83,2.0,23.0,0.80,326.1298,C18H19ClN4,4.0,1.0,0.0
612512,T,ORGANISM,10116,Rattus norvegicus,=,TI,1.000,None,=,TI,...,NEUTRAL,506.70,4.0,35.0,0.38,506.1810,C27H30N4O2S2,6.0,0.0,1.0
612513,T,ORGANISM,10116,Rattus norvegicus,=,TI,3.000,None,=,TI,...,NEUTRAL,506.70,4.0,35.0,0.38,506.1810,C27H30N4O2S2,6.0,0.0,1.0
612514,T,ORGANISM,10116,Rattus norvegicus,=,TI,3.000,None,=,TI,...,NEUTRAL,507.69,4.0,35.0,0.39,507.1763,C26H29N5O2S2,7.0,0.0,1.0
612515,T,ORGANISM,10116,Rattus norvegicus,>,Ratio TD50/ED50,41.640,None,>,Ratio TD50/ED50,...,NEUTRAL,237.30,1.0,17.0,0.81,237.1365,C13H19NO3,4.0,2.0,0.0

In [11]:
df_rattus.to_csv('Rattus_norvegicus.csv', sep=';', index=False)

### Exctracting data for Mus musculus (house mouse)

In [13]:
df_mus=pd.read_sql_query("""SELECT 
                            a.assay_type, 
                            t.target_type, t.tax_id, t.organism,
                            act.relation, act.type, act.value, act.units, act.standard_relation, 
                            act.standard_type, act.standard_value, act.standard_units,
                            md.molregno, md.chembl_id, md.structure_type, md.molecule_type,
                            md.chirality, md.natural_product,
                            cs.standard_inchi, cs.canonical_smiles,
                            cp.*
                            FROM 
                            target_dictionary t 
                            INNER JOIN assays a ON a.tid=t.tid 
                            INNER JOIN activities act ON act.assay_id=a.assay_id
                            INNER JOIN compound_records cr ON cr.record_id=act.record_id
                            INNER JOIN molecule_dictionary md ON md.molregno=cr.molregno
                            INNER JOIN compound_structures cs ON cs.molregno=md.molregno
                            INNER JOIN compound_properties cp ON cp.molregno=cs.molregno
                            WHERE t.organism='Mus musculus'AND a.assay_type='A' 
                                  OR t.organism='Mus musculus' AND a.assay_type='T'""", con )

In [13]:
df_mus

,assay_type,target_type,tax_id,organism,relation,type,value,units,standard_relation,standard_type,...,molecular_species,full_mwt,aromatic_rings,heavy_atoms,qed_weighted,mw_monoisotopic,full_molformula,hba_lipinski,hbd_lipinski,num_lipinski_ro5_violations
0,A,CELL-LINE,10090,Mus musculus,=,TC50,0.035,mM,=,TC50,...,NEUTRAL,310.38,3.0,22.0,0.72,310.0776,C17H14N2O2S,4.0,0.0,0.0
1,A,CELL-LINE,10090,Mus musculus,=,TC50,0.010,mM,=,TC50,...,NEUTRAL,304.35,3.0,23.0,0.72,304.1212,C19H16N2O2,4.0,0.0,0.0
2,A,CELL-LINE,10090,Mus musculus,=,TC50,0.400,mM,=,TC50,...,NEUTRAL,318.38,3.0,24.0,0.72,318.1368,C20H18N2O2,4.0,0.0,0.0
3,A,CELL-LINE,10090,Mus musculus,=,TC50,0.033,mM,=,TC50,...,NEUTRAL,303.36,3.0,23.0,0.70,303.1259,C20H17NO2,3.0,0.0,0.0
4,A,CELL-LINE,10090,Mus musculus,=,TC50,0.710,mM,=,TC50,...,NEUTRAL,321.35,3.0,24.0,0.70,321.1165,C20H16FNO2,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130326,T,ORGANISM,10090,Mus musculus,=,Ratio TD50/ED50,13.600,None,=,Ratio TD50/ED50,...,NEUTRAL,485.61,4.0,35.0,0.35,485.1885,C27H27N5O2S,7.0,1.0,1.0
130327,T,ORGANISM,10090,Mus musculus,=,Ratio TD50/ED50,27.600,None,=,Ratio TD50/ED50,...,NEUTRAL,560.68,5.0,41.0,0.22,560.1994,C32H28N6O2S,8.0,1.0,2.0
130328,T,ORGANISM,10090,Mus musculus,=,Ratio TD50/ED50,13.600,None,=,Ratio TD50/ED50,...,NEUTRAL,514.57,4.0,37.0,0.15,514.1423,C26H22N6O4S,10.0,1.0,2.0
130329,T,ORGANISM,10090,Mus musculus,=,Ratio TD50/ED50,11.800,None,=,Ratio TD50/ED50,...,NEUTRAL,513.62,4.0,37.0,0.25,513.1835,C28H27N5O3S,8.0,1.0,2.0
130330,T,ORGANISM,10090,Mus musculus,=,Ratio TD50/ED50,24.000,None,=,Ratio TD50/ED50,...,NEUTRAL,469.61,4.0,34.0,0.27,469.1936,C27H27N5OS,6.0,1.0,1.0

In [30]:
df_mus.to_csv('Mus_musculus.csv', sep=';', index=False)

In [14]:
#No data were found for goats
df_capra=pd.read_sql_query("""SELECT 
                            a.assay_type, 
                            t.target_type, t.tax_id, t.organism,
                            act.relation, act.type, act.value, act.units, act.standard_relation, 
                            act.standard_type, act.standard_value, act.standard_units,
                            md.molregno, md.chembl_id, md.structure_type, md.molecule_type,
                            md.chirality, md.natural_product,
                            cs.standard_inchi, cs.canonical_smiles,
                            cp.*
                            FROM 
                            target_dictionary t 
                            INNER JOIN assays a ON a.tid=t.tid 
                            INNER JOIN activities act ON act.assay_id=a.assay_id
                            INNER JOIN compound_records cr ON cr.record_id=act.record_id
                            INNER JOIN molecule_dictionary md ON md.molregno=cr.molregno
                            INNER JOIN compound_structures cs ON cs.molregno=md.molregno
                            INNER JOIN compound_properties cp ON cp.molregno=cs.molregno
                            WHERE t.organism='Capra hircus' AND a.assay_type='A' 
                                  OR t.organism='Capra hircus' AND a.assay_type='T'""", con )

In [26]:
df_capra

Empty DataFrame
Columns: [assay_type, target_type, tax_id, organism, relation, type, value, units, standard_relation, standard_type, standard_value, standard_units, molregno, chembl_id, structure_type, molecule_type, chirality, natural_product, standard_inchi, canonical_smiles, molregno, mw_freebase, alogp, hba, hbd, psa, rtb, ro3_pass, num_ro5_violations, cx_most_apka, cx_most_bpka, cx_logp, cx_logd, molecular_species, full_mwt, aromatic_rings, heavy_atoms, qed_weighted, mw_monoisotopic, full_molformula, hba_lipinski, hbd_lipinski, num_lipinski_ro5_violations]
Index: []

[0 rows x 43 columns]

### Exctracting data for Oryctolagus cuniculus (European rabbit)

In [15]:
df_oryc=pd.read_sql_query("""SELECT 
                            a.assay_type, 
                            t.target_type, t.tax_id, t.organism,
                            act.relation, act.type, act.value, act.units, act.standard_relation, 
                            act.standard_type, act.standard_value, act.standard_units,
                            md.molregno, md.chembl_id, md.structure_type, md.molecule_type,
                            md.chirality, md.natural_product,
                            cs.standard_inchi, cs.canonical_smiles,
                            cp.*
                            FROM 
                            target_dictionary t 
                            INNER JOIN assays a ON a.tid=t.tid 
                            INNER JOIN activities act ON act.assay_id=a.assay_id
                            INNER JOIN compound_records cr ON cr.record_id=act.record_id
                            INNER JOIN molecule_dictionary md ON md.molregno=cr.molregno
                            INNER JOIN compound_structures cs ON cs.molregno=md.molregno
                            INNER JOIN compound_properties cp ON cp.molregno=cs.molregno
                            WHERE t.organism='Oryctolagus cuniculus' AND a.assay_type='A' 
                                  OR t.organism='Oryctolagus cuniculus' AND a.assay_type='T'""", con )

In [28]:
df_oryc

,assay_type,target_type,tax_id,organism,relation,type,value,units,standard_relation,standard_type,...,molecular_species,full_mwt,aromatic_rings,heavy_atoms,qed_weighted,mw_monoisotopic,full_molformula,hba_lipinski,hbd_lipinski,num_lipinski_ro5_violations
0,A,ORGANISM,9986,Oryctolagus cuniculus,=,AUC,363.0,ug hr ml-1,=,AUC,...,NEUTRAL,501.00,3.0,34.0,0.37,500.1173,C25H25ClN2O5S,7.0,2.0,1.0
1,A,ORGANISM,9986,Oryctolagus cuniculus,=,Cmax,40.0,nM,=,Cmax,...,NEUTRAL,374.48,3.0,28.0,0.64,374.1994,C24H26N2O2,4.0,1.0,1.0
2,A,ORGANISM,9986,Oryctolagus cuniculus,=,Cmax,300.0,nM,=,Cmax,...,NEUTRAL,334.42,3.0,25.0,0.75,334.1681,C21H22N2O2,4.0,1.0,0.0
3,A,ORGANISM,9986,Oryctolagus cuniculus,=,Cmax,5460.0,nM,=,Cmax,...,NEUTRAL,366.42,3.0,27.0,0.65,366.1580,C21H22N2O4,6.0,3.0,0.0
4,A,ORGANISM,9986,Oryctolagus cuniculus,=,Cmax,150.0,nM,=,Cmax,...,NEUTRAL,362.47,3.0,27.0,0.64,362.1994,C23H26N2O2,4.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,T,TISSUE,9986,Oryctolagus cuniculus,=,Activity,-4.3,%,=,Activity,...,NEUTRAL,613.15,1.0,34.0,0.37,496.2816,C29H45ClN4O8,8.0,5.0,0.0
1496,T,TISSUE,9986,Oryctolagus cuniculus,=,Activity,-3.7,%,=,Activity,...,NEUTRAL,636.12,2.0,36.0,0.47,519.2412,C30H39ClFN5O7,8.0,4.0,1.0
1497,T,TISSUE,9986,Oryctolagus cuniculus,=,Activity,-3.5,%,=,Activity,...,NEUTRAL,613.15,1.0,34.0,0.37,496.2816,C29H45ClN4O8,8.0,5.0,0.0
1498,T,TISSUE,9986,Oryctolagus cuniculus,=,Activity,-4.6,%,=,Activity,...,NEUTRAL,611.18,1.0,34.0,0.49,494.3024,C30H47ClN4O7,7.0,4.0,0.0
1499,T,TISSUE,9986,Oryctolagus cuniculus,None,Activity,NaN,None,None,Activity,...,NEUTRAL,447.44,3.0,33.0,0.58,447.1394,C25H19F2N3O3,6.0,2.0,0.0

In [29]:
df_oryc.to_csv('Oryctolagus_cuniculus.csv', sep=';', index=False)

In [16]:
merged3=pd.concat([df_rattus,df_mus])

In [17]:
merged4=pd.concat([merged3,df_oryc])

In [36]:
df_ratplus=merged4.to_csv('ratplus.csv', sep=';', index=False)

In [18]:
merged5=pd.concat([merged2,merged4])

In [19]:
df_cattleplusrat=merged5.to_csv('cattleplusrat.csv', sep=';', index=False)

#### Defining functions for .py file

In [1]:
def dbfile_to_dataframe (dbfile, target_organism):
    """
    Creates a SQL connection to the SQLite. This function reads SQL database files,
    executs SQL queries in python platform and extracts data for specific organism 
    and assay from database using sqlite connection by joining multiple tables, and 
    returns a pandas dataframe
    
    Parameters
    ----------
    - dbfile: path of the database file
    - target_organism: the target organism
    
    Returns
    -------
    - modified DataFrame based on the user selected tables and columns
    """
    
    con = sqlite3.connect(dbfile)
    df=pd.read_sql_query(""""  SELECT
                            a.assay_type, 
                            t.target_type, t.tax_id, t.organism,
                            act.relation, act.type, act.value, act.units, act.standard_relation, 
                            act.standard_type, act.standard_value, act.standard_units,
                            md.molregno, md.chembl_id, md.structure_type, md.molecule_type,
                            md.chirality, md.natural_product,
                            cs.standard_inchi, cs.canonical_smiles,
                            cp.*
                            FROM 
                            target_dictionary t 
                            INNER JOIN assays a on a.tid=t.tid 
                            INNER JOIN activities act on act.assay_id=a.assay_id
                            INNER JOIN compound_records cr on cr.record_id=act.record_id
                            INNER JOIN molecule_dictionary md on md.molregno=cr.molregno
                            INNER JOIN compound_structures cs on cs.molregno=md.molregno
                            INNER JOIN compound_properties cp on cp.molregno=cs.molregno
                            WHERE t.organism='target_organism'and a.assay_type='A'""", con)
    
    return df

In [ ]:
def merged_data(df1, df2):
    
    """This function combines two dataframes
    
    Parameters
    ----------
    - df1,df2: dataframes to be combined
    
    Returns
    -------
    - merged DataFrame
    """
    df_merged=pd.concat(df1, df2)
    
    return df_merged